<!DOCTYPE html
<html>
<head>
	<style>
	body{
	    background-color: #ffa07a;
		}
	#carter-dome{
		color: #008000;
		}
	#statistics{
		color: #0000FF;
		}
  	.cat{
    		color: #00bfff;
   		}
	#additional{
		color: #e0ffff;
}

   
	  </style>
  </head>
